{% extends 'base.html.twig' %}

{% block body %}
    <h5>Поздравляем!</h5>
    <p>Ваш аккаунт создан. На указанный Вами адрес электронный почты <strong>{{ user.email }}</strong> отправлено письмо с подтверждением
    <p>Спасибо что Вы с нами!</p>
{% endblock %}