{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}
{% block stylesheets %} {% endblock %}
{% block body %}
    <form action="{{ path("blog_search") }}" method="get">
        <input type="search", name="q">
        <button class="btn btn-primary" type="submit"> Search</button>
    </form>
{% for post in posts %}
    <a href = "{{ path('blog_show', {slug:post.slug}) }}"> {{post.title}}</a> <br /><br />
    {% endfor %}
    <div class = "addpostbutton">
    <a href="{{ path('addpost') }}"> Создать пост</a>
    </div>
{% endblock %}
